@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:&family=Source+Code+Pro:wght@300&display=swap');


/* -- Global -- */

body {
    font-family: 'Source Code Pro', monospace;
    color:rgb(29, 29, 29);
    font-weight: 400;
    background-color: rgb(250, 251, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    height: 100vh;
}

a {
    color:rgb(29, 29, 29);
    width: fit-content;
    text-decoration: none;
    transition: 0.3 ease-in-out color;
}

a:hover {
    color:rgb(53, 53, 53);
    text-decoration: none;
}

.bg-primary {
    background-color: #fcd1d1 !important;
}

.button-container {
    text-align: center;
}

.button {
    font-size: 1.3em;
    padding: .5em .8em;
    background-color: #98b3fc;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: 0.1s ease-in-out transform, border;
}

.button:hover {
    border: 1px solid rgb(45, 101, 255);
    transform: scale(1.02);
}

input:focus,
textarea:focus {
    border: 1px solid rgb(77, 77, 77);
    outline: none;
}
 
textarea,
input {
    outline: none;
    background-color: rgb(247, 247, 255);
    border: 1px solid rgb(151, 151, 151);
    font-family: 'Montserrat', sans-serif;
    padding: .5em;
}

.readable {
    font-family: 'Montserrat', sans-serif;
    color: rgb(71, 71, 71);
    word-break: break-all;
    white-space: normal;
}

.alert {
    position: absolute;
    top: 50px;
    left: 10%;
    width: 80%;
}

footer a, 
footer p {
    padding: 0 1em;
}

/* Minutesread */

.minutes-read h6 {
    padding: 0;
}

.minutes-read .book {
    margin-right: 10px;
}


/* -- Navbar -- */

.nav-link {
    font-size: 1.3em;
    margin: 0 .5em;
}

.nav-link::after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    background-color: rgb(61, 61, 61);
    transition: 0.2s ease-in-out transform;
}

.nav-link:hover:after {
    transform: scaleX(1);
}

.navbar-brand {
    font-weight: 500;
}

/* Post card */
.post-card-container {
    perspective: 1000px;
}

.post-card {
    padding: 3em;
    box-shadow: 0 1em 1em .05em rgb(150, 150, 150);
    transition: 0.3s ease-in-out background-color;
    transition: transform .3s;
}

.post-card:hover {
    background-color: #fcd1d1;
    transform: rotateY(-10deg);
}

.post-card .post-title,
.post-card .post-body,
.post-card .post-date {
    margin-left: 0;
    padding-left: 0;
}

.post-card .post-title {
    font-size: 2em;
    font-weight: 700;
}

.post-card .post-body {
    line-height: 2em;
    margin-top: 3em;
}


/* -- Front page -- */
.homepage {
    padding-top: 5em;
    position: relative;
}

.home-title {
    font-size: 2.5em;
    padding-bottom: 2em;
    font-weight: 500;
    text-align: center;
    transform: scaleY(1.2);
    letter-spacing: .1em;
}

.last-post-title {
    margin: 2em 0;
}


.profile-pic {
    position: absolute;
    right: 5em;
    top: 8em;
}

.profile-pic img {
    width: 200px;
    border-radius: 50%;
}


@media screen and (max-width: 1100px) {
    .home-title {
        font-size: 2em;
    }

    .profile-pic img {
        width: 150px;
    }
}

@media screen and (max-width: 700px) {
    .home-title {
        font-size: 1.5em;
    }
    
    .profile-pic {
        right: 2em;
    }

    .profile-pic img {
        width: 100px;
    }
}


/* -- New post -- */

.new-post {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.post-label,
.toggler {
    margin: 1em 0;
}

.new-post .button-container {
    margin: 2em 0;
}

.new-post #title {
    font-size: 1.5em;
    padding: .5em;
}


/* -- Archive -- */

.archive {
    margin-top: 3em;
}

.archive ul {
    list-style: none;
}

.archive li {
    padding: 2em 0;
}

.archive-post {
    padding: 2em;
    box-shadow: 0 1em 1em .05em rgb(150, 150, 150);
}


/* -- Post -- */
.tools {
    margin-top: 3em;
}

.tools ul {
    list-style: none;
}

.tools li {
    display: inline-block;
    padding: .5em;
}

.post-content {
    margin-top: 4em;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 15px 20px 1px rgb(207, 207, 207);
    padding: 5em;
}

/* -- Blogpost -- */

.blogpost {
    padding: 5em 1em 3em 1em;
}

.blogpost-header {
    position: relative;
    padding: 1.5em;
    color: black;
    letter-spacing: .05em;
}

.blogpost-title {
    text-align: center;
    font-size: 3em;
    margin: 1em;
    margin: 0;
}

.blogpost hr {
    margin-bottom: 100px;
}

.blogpost-date {
    position: absolute;
    bottom: 0;
    right: 1em;
}

.blogpost-body {
    font-size: 1.3em;
    letter-spacing: .1em;
    line-height: 2em;
    padding: 1em
}

.blogpost .blogpost-image {
    width: 70%;
    margin: 1em auto;
    text-align: center;
    display: block;
}

.blogpost .blogpost-link {
    font-weight: 700;
}



@media screen and (max-width: 1100px) {

}

@media screen and (max-width: 700px) {
    .blogpost-title {
        margin-bottom: .5em;
    }
}


/* -- About -- */

.about {
    margin-top: 5em;
}

.about .about-title {
    margin-bottom: 2em;
    font-size: 2.5em;
    text-align: center;
}

.about p {
    font-size: 1.3em;
    line-height: 2em;
    letter-spacing: .1em;
}

.about .break {
    padding: 1em;
}


/* -- Image page -- */
.imagepage {
    padding: 3em 5em;
}

.imagepage .tools {
    margin-bottom: 2em;
}

.imagepage .tool {
    margin: 0 .5em;
}

.imagepage .tools .file-selector {
    border: 1px solid gray;
    border-radius: 10px;
}


.imagepage .image-outer {
    display: block;
    width: 300px;
    height: 300px;
    border: 5px solid blue;
    margin: 1em;
    position: relative;
}

.imagepage img {
    width: 100%;
    max-height: 100%;
}

.imagepage .glasses-container {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 10px;
    background-color: gray;
    border-radius: 50%;
}

.imagepage .glasses {
    width: 40px;
    height: 40px;
    color: #d7e2ff;
}


/* -- Edit post -- */

.edit-post-content {
    padding-top: 2em;
    font-size: 1.1em;
}

.edit-post-content label {
    font-weight: 600;
}

.edit-post-content input,
.edit-post-content label,
.edit-post-content textarea {
    margin-left: 0;
    padding-left: 0;
}

.edit-post-content input,
.edit-post-content textarea {
    margin: 1em 0;
    padding: 1em;
}

.edit-post-content input {
    width: 50%;
}

/* Images */
#image-dropdown {
    height: 700px;
    width: 800px;
    background-color: rgb(212, 212, 212);
    overflow-y: scroll;
    padding: 1em;
}

#image-dropdown .image-wrapper:hover {  
    background-color: rgb(212, 212, 212);
}

#image-dropdown p {
    word-break: break-all;
    white-space: normal;
}

#image-dropdown .dropdown-item li {
    width: 350px;
    padding: 1em;
}

#image-dropdown .dropdown-item li:hover {
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}
