@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:&family=Source+Code+Pro:wght@300&display=swap');


/* -- Global -- */

body {
    font-family: 'Source Code Pro', monospace;
    color:rgb(29, 29, 29);
    font-weight: 400;
    background-color: rgb(250, 251, 255);
}

a {
    color:rgb(29, 29, 29);
    width: fit-content;
    text-decoration: none;
    transition: 0.3 ease-in-out color;
}

a:hover {
    color:rgb(53, 53, 53);
    text-decoration: none;
}

.bg-primary {
    background-color: #9cb1eb !important;
}

.button-container {
    text-align: center;
}

.button {
    font-size: 1.5em;
    padding: .5em .8em;
    background-color: #98b3fc;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: 0.1s ease-in-out transform, border;
}

.button:hover {
    border: 1px solid rgb(45, 101, 255);
    transform: scale(1.02);
}

input:focus,
textarea:focus {
    border: 1px solid rgb(77, 77, 77);
    outline: none;
}
 
textarea,
input {
    outline: none;
    background-color: rgb(247, 247, 255);
    border: 1px solid rgb(151, 151, 151);
    font-family: 'Montserrat', sans-serif;
    padding: .5em;
}

.readable {
    font-family: 'Montserrat', sans-serif;
    color: rgb(71, 71, 71);
}


/* -- Navbar -- */

.nav-link {
    font-size: 1.3em;
    margin: 0 .5em;
}

.nav-link::after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    background-color: rgb(61, 61, 61);
    transition: 0.2s ease-in-out transform;
}

.nav-link:hover:after {
    transform: scaleX(1);
}

.navbar-brand {
    font-weight: 500;
}

/* Post card */
.post-card {
    padding: 3em;
    box-shadow: 0 1em 1em .05em rgb(150, 150, 150);
    transition: 0.3s ease-in-out background-color;
}

.post-card:hover {
    background-color: #fcd1d1;
}

.post-card .post-title,
.post-card .post-body,
.post-card .post-date {
    margin-left: 0;
    padding-left: 0;
}

.post-card .post-title {
    font-size: 2em;
}

.post-card .post-body {
    line-height: 2em;
    margin-top: 3em;
}


/* -- Front page -- */
.homepage {
    margin-top: 5em;
    flex-direction: column;
}

.home-title {
    font-size: 2em;
    padding-bottom: 2em;
}

.last-post h3 {
    padding: 1em 0 2em 0;
}


/* -- New post -- */

.new-post {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.post-label,
.toggler {
    margin: 1em 0;
}

.new-post .button-container {
    margin: 2em 0;
}

.new-post #title {
    font-size: 1.5em;
    padding: .5em;
}


/* -- Archive -- */

.archive {
    margin-top: 3em;
}

.archive ul {
    list-style: none;
}

.archive li {
    padding: 2em 0;
}

.archive-post {
    padding: 2em;
    box-shadow: 0 1em 1em .05em rgb(150, 150, 150);
}


/* -- Post -- */
.tools .tool,
.tag-container .dropdown,
.tag-container input {
    margin: 0 .5em;
}

.tools {
    margin-top: 3em;
}

.post-content {
    margin-top: 4em;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 15px 20px 1px rgb(207, 207, 207);
    padding: 5em;
}

.blogpost-title {
    text-align: center;
    font-size: 3em;
    margin: 1em;
}

.blogpost-date {
    position: absolute;
    top: 2em;
    right: 2em;
}

.blogpost-body {
    font-size: 1.3em;
    letter-spacing: .1em;
    line-height: 2em;
}


/* -- About -- */

.about {
    margin-top: 5em;
}

.about .about-title {
    margin-bottom: 2em;
    font-size: 2.5em;
}

.about p {
    font-size: 1.3em;
    line-height: 2em;
    letter-spacing: .1em;
}

.about .break {
    padding: 1em;
}