{% extends 'base.html' %}

{% load static %}

{% if user.is_authenticated %}

  {% block css %}
    <link href="{% static 'css/admin.css' %}" rel="stylesheet">
  {% endblock %}

{% endif %}

{% block content %}

  {% if user.is_authenticated %}
    <div class="d-flex justify-content-end">
      <a class="logout-button" href="{% url 'logout' %}">logout</a>
    </div>
    
    <div id="admin-app">
      
      <!-- React -->
    </div>
  {% else %}
    <div id="app">
      <!-- React -->
    </div>
  {% endif %}

{% endblock %}
